<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a href="javascript:;" class="logo d-flex align-items-center">
      <img src="../../../assets/img/logo2.png"  alt="">
      <span class="d-none d-lg-block">Concours Pro</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <div class="search-bar d-flex align-items-center">
    <form class="search-form " method="POST" action="#">
      <input type="text" name="query" placeholder="...." title="Enter search keyword">
      
    </form>
    <button  class="btn btn-success" style="margin-left: 10px;">{{"navbar.search" | translate}}</button>
  </div><!-- End Search Bar -->

  <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center" >

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="javascript:;">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->
      <li style="margin-right: 20px;">
        <select class="form-control" (change)="translateLanguageTo($event)">

          <option value="en" [selected]="lang == 'en' ">English </option>
          <option value="ar" [selected]="lang == 'ar' "><i class="cif-fr"></i> عربي </option>

        </select>
      </li>
      <li (click)="logout()" style="margin-right: 10px;">
        <a href="jacascript:;" class="btn btn-primary">{{"navbar.signout" | translate}}</a>
        
      </li>

  
    </ul>
 
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->