<div class="row">
    <div *ngFor="let c of concours" class="col-md-5">
        <div class="card " style="width: 18rem; margin: 5px;" *ngIf="c.hide !== 'yes'">
            <div class="card-body">
                <h5 class="card-title">{{c.name}}</h5>
                <div>Date : <span>{{c.dateConcours}}</span></div>
                <div>Date examen : <span>{{c.dateExam}}</span></div>
                <p>{{c.certif}}</p>
                <p class="card-text" style="height: 100px;">{{c.description}}</p>
                <button class="btn btn-primary"  (click)="liste(c)">Liste
                    participants</button>
                    <button style="margin-left: 5px;" class="btn btn-danger"  (click)="delete(c)">Delete</button>
            </div>
        </div>
    </div>


</div>

